@page "/main"

@if (!Loaded)
{
    <div class="my-mockup-layout">
        <TelerikLoaderContainer LoaderPosition="@LoaderPosition.End"></TelerikLoaderContainer>
    </div>
}
else
{
    <p/>
    <div class="mainImg">
        <TelerikCarousel Data="@CarouselData"
                         Width="100%" Height="500px">
            <Template>
                <div class="image-with-text">
                    <img src="images/photos/@(context.ImageID).jpg" alt="Photograph" width="100%" height="500" />
                </div>
            </Template>
        </TelerikCarousel>
    </div>
    <p />
    <div>
        @*추가 예정*@
    </div>
}

@code {
    public List<CarouselModel> CarouselData { get; set; }
    public IEnumerable<MenuItem> MenuItems { get; set; }

    public string userId { get; set; }

    private bool Loaded { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            userId = await sessionStorage.GetItemAsync<string>("userId");
            if (string.IsNullOrEmpty(userId))
            {
                navManager.NavigateTo("/Login");
            }
        }
        catch
        {

        }

        await LoadData();

        Loaded = true;
    }

    private async Task LoadData()
    {
        try
        {
            CarouselData = Enumerable.Range(1, 7).Select(x => new CarouselModel
            {
                ImageID = x
            }).ToList();
        }
        catch (Exception ex)
        {
            Logs.Exception(ex);
        }
    }
}
