@inherits LayoutComponentBase

<TelerikRootComponent>
    <div class="container">
        <div class="header">
            <Header/>
        </div>
        <div class="layout-body">
            @Body
        </div>
    </div>
</TelerikRootComponent>